<div
    style="width: 100%; max-width: 800px; margin: 0 auto; padding: 2em; box-sizing: border-box; font-family: Arial, sans-serif; line-height: 1.5; color: #000;">
    <header style="position: relative; width: 100%; padding: 1em 0; text-align: center;">
        <img src="data:image/png;base64,{{imagenBase64}}" alt="Logo UNSIS"
            style="width: 80px; position: absolute; left: 0; top: 50%; transform: translateY(-50%);" />
        <h1 style="font-size: 1.8em; margin: 0;">" Universidad de la Sierra Sur "</h1>
    </header>


    <div style="margin-top: 2em; display: flex; flex-direction: row; gap: 0.5em;">
        <strong>Paciente:</strong>
        <span>{{nombres}} {{apPaterno}} {{apMaterno}}</span>
    </div>

    <div style="margin-top: 0.5em; display: flex; flex-wrap: wrap; gap: 1em;">
        <div><strong>Edad:</strong> {{edad}}</div>
        <div><strong>Sexo:</strong> {{sexo}}</div>
    </div>

    <div
        style="display: flex; justify-content: space-between; width: 100%; margin-top: 2.5em; font-size: 1.05em; border-bottom: 2px solid #000; padding-bottom: 0.5em;">
        <p style="margin: 0; ">A quien corresponda</p>
        <p style="margin: 0; ">Fecha: <span>{{fecha}}</span></p>
    </div>

    <h3 style="margin-top: 2.5em; margin-bottom: 1em; border-bottom: 1px solid #000; width: auto;">
        Drogas de Abuso
    </h3>

    <div style="display: flex; justify-content: space-between; font-weight: 500; margin-bottom: 0.5em;">
        <span style="width: 33.33%; text-align: left;">Sustancias</span>
        <span style="width: 33.33%; text-align: center;">Resultados</span>
        <span style="width: 33.33%; text-align: right;">Valores de Referencia</span>
    </div>

    <div style="display: flex; flex-direction: column; width: 100%; justify-content: space-between; margin-top: 1em;">
        <div
            style="display: flex; flex-direction: row; justify-content: space-between; font-size: 14px; border-bottom: 1px solid #000; width: 100%;  position: relative;">
            <p style="width: 33.33%; margin: 0.3em; text-align: left;">COCAÍNA</p>
            <p style="width: 33.33%; margin: 0.3em; padding-bottom: 3px; text-align: center;">{{cocaina}}</p>
            <p style="width: 33.33%; margin: 0.3em; text-align: right;">NEGATIVO</p>
            <div style="content: ''; position: absolute; left: 0; right: 0; bottom: 0.5em; height: 2px; background: #000;">
            </div>
        </div>
        <div
            style="display: flex; flex-direction: row; justify-content: space-between; font-size: 14px; border-bottom: 1px solid #000; width: 100%;  position: relative;">
            <p style="width: 33.33%; margin: 0.3em; text-align: left;">ANFETAMINAS</p>
            <p style="width: 33.33%; margin: 0.3em; padding-bottom: 3px; text-align: center;">{{anfetamina}}</p>
            <p style="width: 33.33%; margin: 0.3em; text-align: right;">NEGATIVO</p>
            <div style="content: ''; position: absolute; left: 0; right: 0; bottom: 0.5em; height: 2px; background: #000;">
            </div>
        </div>
        <div
            style="display: flex; flex-direction: row; justify-content: space-between; font-size: 14px; border-bottom: 1px solid #000; width: 100%;  position: relative;">
            <p style="width: 33.33%; margin: 0.3em; text-align: left;">METANFETAMINAS</p>
            <p style="width: 33.33%; margin: 0.3em; padding-bottom: 3px; text-align: center;">{{metanfetamina}}</p>
            <p style="width: 33.33%; margin: 0.3em; text-align: right;">NEGATIVO</p>
            <div style="content: ''; position: absolute; left: 0; right: 0; bottom: 0.5em; height: 2px; background: #000;">
            </div>
        </div>
        <div
            style="display: flex; flex-direction: row; justify-content: space-between; font-size: 14px; border-bottom: 1px solid #000; width: 100%;  position: relative;">
            <p style="width: 33.33%; margin: 0.3em; text-align: left;">OPIOIDES</p>
            <p style="width: 33.33%; margin: 0.3em; padding-bottom: 3px; text-align: center;">{{opioides}}</p>
            <p style="width: 33.33%; margin: 0.3em; text-align: right;">NEGATIVO</p>
            <div style="content: ''; position: absolute; left: 0; right: 0; bottom: 0.5em; height: 2px; background: #000;">
            </div>
        </div>
        <div
            style="display: flex; flex-direction: row; justify-content: space-between; font-size: 14px; border-bottom: 1px solid #000; width: 100%;  position: relative;">
            <p style="width: 33.33%; margin: 0.3em; text-align: left;">CANNABIS (THC)</p>
            <p style="width: 33.33%; margin: 0.3em; padding-bottom: 3px; text-align: center;">{{cannabis}}</p>
            <p style="width: 33.33%; margin: 0.3em; text-align: right;">NEGATIVO</p>
            <div style="content: ''; position: absolute; left: 0; right: 0; bottom: 0.5em; height: 2px; background: #000;">
            </div>
        </div>
    </div>
    
    <h3 style="justify-content: center; margin-top: 4em; text-align: center;">Visto Bueno</h3>
    
    <div
        style="display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%; margin-top: 5em;">
        <p style="margin: -0.1em; text-align: center;">Q.F.B. Eunice Ordaz Díaz</p>
        <p style="margin: -0.1em; text-align: center;">Ced. Profesional: 8204125</p>
        <p style="margin: -0.1em; text-align: center;">Centro de Patología Clínica</p>
        <p style="margin: -0.1em; text-align: center;">UNSIS</p>
        <p style="margin: -0.1em; text-align: center;">Miahuatlán de Porfirio Díaz, Oax.</p>
    </div>


</div>